@use './screen.scss' as *;

html {
    line-height: 1.5;
}

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

.loading-screen {
    background-color: var(--primary);
    display: none;
    width: 100vw;

    // height: 100vh;
    height: 8px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}

.loading-screen.show {
    display: block;
}

.center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.h1 {
    font-size: 50px;
    color: rgb(27 40 48);
    font-weight: bold;
    overflow-wrap: break-word;
}

.h2 {
    font-size: 36px;
    color: var(--primary);
    font-weight: 700;
    overflow-wrap: break-word;
}

.h3 {
    font-size: 20px;
    color: var(--text);
    font-weight: bold;
    overflow-wrap: break-word;
}

.h4 {
    font-size: 16px;
    color: var(--text);
    font-weight: bold;
    overflow-wrap: break-word;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: #fff;
}

p {
    font-size: 16px;
}

a:visited {
    color: var(--light);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: inherit;
}

body {
    margin: 0;
    font:
        15px / 1.4 Raleway,
        Arial,
        sans-serif;
    background-color: var(--background1);
    box-sizing: border-box;
    transition: background-color 1s ease;
    transition: color 1s ease;
    transition: fill 1s ease;
}

/* Progress Bar */

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    display: block;
    width: 100vw;
    border-radius: 0;
    background-clip: padding-box;
    background-color: var(--primary);
    margin: 0;
    overflow: hidden;
    z-index: 10001;
    opacity: 0.75;
}

.progress .indeterminate {
    background-color: #fff;
    z-index: 10100;
}

.progress .indeterminate::before {
    content: '';
    z-index: 1002;
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate::after {
    content: '';
    position: absolute;
    z-index: 1002;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

.svg-circle {
    display: none;
}

@include screen-xl {
    .svg-circle {
        display: block;
    }
}

@include screen-xl {
    *::-webkit-scrollbar {
        transition: background-color 1s ease;
        background-color: var(--light); // 200
        width: 1rem;
    }

    *::-webkit-scrollbar-button {
        position: absolute;
        display: none;
    }

    *::-webkit-scrollbar-thumb {
        transition: background-color 1s ease;
        background: linear-gradient(to bottom, var(--light) 0%, var(--primary) 100%);
    }

    *::-webkit-scrollbar-thumb:hover {
        background: var(--light); // 800
    }

    *::-webkit-scrollbar-track {
        transition: background-color 1s ease;
        background-color: var(--background1);
    }

    * ::selection {
        // color: var(--background1);
        color: #fff;
        background-color: var(--light);
    }
}
