@use './global.scss' as *;

:root {
    --primary: #22272e;
    --background1: #eee;
    --background2: #fff;
    --light: color-mix(in srgb, var(--primary) 70%, #FFF 30%);
    --lighter: color-mix(in srgb, var(--primary) 20%, #FFF 80%);
    --lightest: color-mix(in srgb, var(--primary) 10%, #FFF 90%);
    --text: #474747;
    --muted: #70757a;
    --shadow: grey;
    --line: color-mix(in srgb, var(--light) 90%, #000 10%);

    color-scheme: light;
}

.dark {
    --background1: #1c2128;
    --background2: #22272e;
    --light: color-mix(in srgb, var(--primary) 70%, #dadada 30%);
    --lighter: color-mix(in srgb, var(--primary) 25%, #2c2c2c 75%);
    --lightest: color-mix(in srgb, var(--primary) 10%, #2c2c2c 90%);
    --text: #9aa0a6;
    --muted: #8a98a6;
    --shadow: black;
    --line: color-mix(in srgb, var(--light) 20%, #333 80%);

    color-scheme: dark;
}

.red {
    --primary: #b34949;

    color-scheme: red;
}

.green {
    --primary: #326834;

    color-scheme: green;
}

.blue {
    --primary: #144b84;

    color-scheme: blue;
}

.orange {
    --primary: #a56831;

    color-scheme: orange;
}

.teal {
    --primary: #24736b;

    color-scheme: teal;
}

.cyan {
    --primary: #0b8494;

    color-scheme: cyan;
}

.pink {
    --primary: #9f2e54;

    color-scheme: pink;
}

.deeppurple {
    --primary: #503b77;

    color-scheme: deeppurple;
}

.indigo {
    --primary: #3f51b5;

    color-scheme: indigo;
}

.lightblue {
    --primary: #5087bf;

    color-scheme: lightblue;
}

.brown {
    --primary: #744c3e;

    color-scheme: brown;
}

.bluegrey {
    --primary: #607d8b;
    --light: #89b0c3;

    color-scheme: bluegrey;
}

