@use './global.scss' as *;

:root {
    --background1: #eee;
    --background2: #fff;
    --text: #474747;
    --muted: #70757a;
    --shadow: grey;
}

.red {
    --primary: #b34949;
    --light: #ef5350;
    --lighter: #ef53504d;
    --lightest: #ef53501a;
    color-scheme: red;
}

.green {
    --primary: #326834;
    --light: #80b569;
    --lighter: #80b5694d;
    --lightest: #80b5691a;
    color-scheme: green;
}

.blue {
    --primary: #144b84;
    --light: #4f92c9;
    --lighter: #42a5f54d;
    --lightest: #42a5f51a;
    color-scheme: blue;
}

.orange {
    --primary: #a56831;
    --light: #ce9356;
    --lighter: #eaa2564d;
    --lightest: #eaa2561a;
    color-scheme: orange;
}

.teal {
    --primary: #24736b;
    --light: #1d7169;
    --lighter: #26a69a4d;
    --lightest: #26a69a1a;
    color-scheme: teal;
}

.cyan {
    --primary: #0b8494;
    --light: #128391;
    --lighter: #26c6da4d;
    --lightest: #26c6da1a;
    color-scheme: cyan;
}

.pink {
    --primary: #9f2e54;
    --light: #ad1c4d;
    --lighter: #ec407a4d;
    --lightest: #ec407a1a;
    color-scheme: pink;
}

.deeppurple {
    --primary: #503b77;
    --light: #7e57c2;
    --lighter: #7e57c24d;
    --lightest: #7e57c21a;
    color-scheme: deeppurple;
}

.indigo {
    --primary: #3f51b5;
    --light: #6e7fe4;
    --lighter: #5c6bc04d;
    --lightest: #5c6bc01a;
    color-scheme: indigo;
}

.lightblue {
    --primary: #5087bf;
    --light: #1d749c;
    --lighter: #29b6f64d;
    --lightest: #29b6f61a;
    color-scheme: lightblue;
}

.brown {
    --primary: #744c3e;
    --light: #a4624b;
    --lighter: #8d6e634d;
    --lightest: #8d6e631a;
    color-scheme: brown;
}

.bluegrey {
    --primary: #607d8b;
    --light: #3f5d6d;
    --lighter: #78909c4d;
    --lightest: #78909c1a;
    color-scheme: bluegrey;
}
.dark {
    --background1: #1c2128;
    --background2: #22272e;
    --text: #9aa0a6;
    --muted: #8a98a6;
    --shadow: black;
    color-scheme: dark;
}

