@use '../../styles/screen.scss' as *;

.title-intro {
    position: absolute;
    font-weight: 700;
    top: 40%;
    left: 10%;
    margin: 0;
    line-height: 1;
    max-width: 80%;
}

.intro-svg {
    width: 100%;
}

.app-divider {
    height: 2rem;
    width:100%;
    transition: background-color 1s ease;
    background: var(--background2) !important;

    path {
        transition: fill 1s ease;
        fill: var(--primary);
    }
}

.icon-links {
    display: flex;
    flex-direction: row;
    margin-top: 0.25rem;
}

.icon-links a {
    margin: 8px !important;
    text-decoration: none !important;
    display: block;
}

.intro {
    transition: background-color 1s ease;
    background-color: var(--primary);
    position: relative;
    overflow: visible;
    width: 100% !important;
    height: calc(30vh - 0px);
}

.intro-icons {
    width: 1.25rem;
    height: 1.25rem;
}

.intro-title {
    font-size: 1.75rem;
}

.intro-sub-title {
    margin-top: 8px;
    font-weight: bold;
    font-size: 1.25rem;
}

@include screen-xxs {
    .intro-title {
        font-size: 2rem;
    }

    .intro-sub-title {
        font-size: 1.5rem;
    }

    .icon-links {
        margin-top: 0.5rem;
    }

    .intro-icons {
        width: 1.75rem;
        height: 1.75rem;
    }

    .intro {
        height: calc(35vh - 0px);
    }

}

@include screen-xs {
    .app-divider {
        height: 3rem;
    }

    .intro-title {
        font-size: 2.25rem;
    }

    .intro-sub-title {
        font-size: 1.5rem;
    }

    .icon-links {
        margin-top: 0.75rem;
    }

    .intro-icons {
        width: 2rem;
        height: 2rem;
    }

    .intro {
        height: calc(40vh - 0px);
    }
}

@include screen-sm {
    .app-divider {
        height: 4rem;
    }

    .intro-title {
        font-size: 2.5rem;
    }

    .intro-sub-title {
        font-size: 1.75rem;
    }

    .icon-links {
        margin-top: 1rem;
    }

    .intro {
        height: calc(45vh - 0px);
    }
}

@include screen-md {
    .app-divider {
        height: 5rem;
    }

    .intro-title {
        font-size: 2.75rem;
    }

    .intro-sub-title {
        font-size: 2rem;
    }

    .icon-links {
        margin-top: 1.5rem;
    }

    .intro-icons {
        width: 2.5rem;
        height: 2.5rem;
    }

    .intro {
        height: calc(50vh - 0px);
    }
}

@include screen-lg {
    .intro-title {
        font-size: 3rem;
    }

    .intro-sub-title {
        font-size: 2.25rem;
    }

    .icon-links {
        margin-top: 2.5rem;
    }

    .intro-icons {
        width: 3rem;
        height: 3rem;
    }

    .app-divider {
        height: 6rem;
    }

    .intro {
        height: calc(55vh - 0px);
    }
}

@include screen-xl {
    .intro-svg {
        width: 100%;
    }

    .intro-title {
        font-size: 3rem;
    }

    .intro-sub-title {
        font-size: 2.25rem;
    }

    .intro {
        height: calc(70vh - 0px);
    }
}

@include screen-2xl {
    .intro-svg {
        width: 100%;
    }

}
