@import '../../styles/screen.scss';

.titleIntro {
    position: absolute;
    font-weight: 700;
    top: 40%;
    left: 10%;
    margin: 0;
    line-height: 1;
    max-width: 80%;
}

.introSvg {
    width: 1920px;
}

.app-divider {
    height: 5rem;
    transition: background-color 1s ease;
    background: var(--background2) !important;

    path {
        transition: fill 1s ease;
        fill: var(--primary);
    }
}

.icon_links {
    display: flex;
    flex-direction: row;
    margin-top: 0.25rem;
}

.icon_links a {
    margin: 8px !important;
    text-decoration: none !important;
    display: block;
}

.intro {
    transition: background-color 1s ease;
    background-color: var(--primary);
    position: relative;
    overflow: visible;
    width: 100% !important;
    height: calc(30vh - 0px);
}

.introIcons {
    width: 1.25rem;
    height: 1.25rem;
}

.introTitle {
    font-size: 1.75rem;
}

.introSubTitle {
    margin-top: 8px;
    font-weight: bold;
    font-size: 1.25rem;
}

@include screen-xxs {
    .introTitle {
        font-size: 2rem;
    }

    .introSubTitle {
        font-size: 1.5rem;
    }

    .icon_links {
        margin-top: 0.5rem;
    }

    .introIcons {
        width: 1.75rem;
        height: 1.75rem;
    }

}

@include screen-xs {
    .introTitle {
        font-size: 2.25rem;
    }

    .introSubTitle {
        font-size: 1.5rem;
    }

    .icon_links {
        margin-top: 0.75rem;
    }

    .introIcons {
        width: 2rem;
        height: 2rem;
    }
    .intro {
        height: calc(35vh - 0px);
    }
}

@include screen-sm {
    .introTitle {
        font-size: 2.5rem;
    }

    .introSubTitle {
        font-size: 1.75rem;
    }
    .icon_links {
        margin-top: 1rem;
    }

    .intro {
        height: calc(40vh - 0px);
    }
}

@include screen-md {
    .introTitle {
        font-size: 2.75rem;
    }

    .introSubTitle {
        font-size: 2rem;
    }

    .icon_links {
        margin-top: 1.5rem;
    }

    .introIcons {
        width: 2.5rem;
        height: 2.5rem;
    }

    .intro {
        height: calc(45vh - 0px);
    }
}

@include screen-lg {

    .introTitle {
        font-size: 3rem;
    }

    .introSubTitle {
        font-size: 2.25rem;
    }

    .icon_links {
        margin-top: 2.5rem;
    }

    .introIcons {
        width: 3rem;
        height: 3rem;
    }

    .app-divider {
        height: 6rem;
    }

    .intro {
        height: calc(55vh - 0px);
    }
}

@include screen-xl {

    .introSvg {
        width: 1920px;
    }

    .introTitle {
        font-size: 3rem;
    }

    .introSubTitle {
        font-size: 2.25rem;
    }

    .intro {
        height: calc(70vh - 0px);
    }
}

@include screen-2xl {

    .introSvg {
        width: 100%;
    }

}
