@use '../../../styles//screen.scss' as *;

.app-divider {
    transition: background-color 1s ease;
    width: 100%;
    background: var(--background2);
    fill: var(--background1);
}

.separatorPath {
    transition: fill 1s ease;
}

.waveSvg {
    width: 1920px;
}

@include screen-xl {
    .waveSvg {
        width: 1920px;
    }
}

@include screen-2xl {

    .waveSvg {
        width: 100%;
    }

}
