@use '../../../styles//screen.scss' as *;

.app-divider {
    transition: background-color 1s ease;
    width: 100%;
    background: var(--background2);
    fill: var(--background1);
}

.separator-path {
    transition: fill 1s ease;
}

.wave-svg {
    width: 100%;
}

@include screen-xl {
    .wave-svg {
        width: 100%;
    }
}

@include screen-2xl {
    .wave-svg {
        width: 100%;
    }

}
