@use '../../../styles//screen.scss' as *;

// :host * {
   // transition: all 1s ease;
// }

.app-divider {
    transition: background 1s ease;
    width: 100%;
}

.wave-svg {
    width: 100%;
    height: auto;
    background-color: transparent;

    path {
        transition: fill 1s ease;
    }
}

@include screen-xl {
    .wave-svg {
        width: 100%;
    }
}

@include screen-2xl {
    .wave-svg {
        width: 100%;
    }
}
