@use '@angular/material' as mat;
@use 'sass:map';

// from project

@use 'src/app/styles/component-themes' as components;

@include mat.core(); // Mixin that renders all of the core styles that are not theme-dependent.

$blue-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400),
    accent: mat.m2-define-palette(mat.$m2-blue-palette),
    background: mat.m2-define-palette(mat.$m2-blue-palette),
    background-color: mat.m2-define-palette(mat.$m2-blue-palette),
),
));

@include mat.core-theme($blue-theme);
@include mat.all-component-themes($blue-theme);
@include components.theme($blue-theme);
