@use '@angular/material' as mat;
@use 'sass:map';

// from project

@use 'src/app/styles/component-themes' as components;

@include mat.core(); // Mixin that renders all of the core styles that are not theme-dependent.

$dark-palette: (
  50: #2d333b,
  100: #373e47,
  200: #1c2128,
  300: #5a5f64,
  400: #5a5f64,
  500: #f83a40,
  600: white,
  700: #919191, /* H1 Titles*/
  800: #919191,
  900: #bb0d24,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: red,
    500: green,
    600: yellow,
    700: #22272e,
    800: brown,
    900: pink,
  )
);

$primary: mat.m2-define-palette($dark-palette, 200);
$accent: mat.m2-define-palette($dark-palette, 100);
$warn: mat.m2-define-palette($dark-palette, 300);

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    background: mat.m2-define-palette(mat.$m2-indigo-palette),
    background-color: mat.m2-define-palette(mat.$m2-indigo-palette),
),
));

@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);
@include components.theme($dark-theme);
