@use '@angular/material' as mat;
@use 'sass:map';

// from project

@use 'src/app/styles/component-themes' as components;

@include mat.core(); // Mixin that renders all of the core styles that are not theme-dependent.

$green-palette: (
    50 : #edf5ea,
    100 : #d2e5ca,
    200 : #b5d4a7,
    300 : #97c284,
    400 : #80b569,
    500 : #6aa84f,
    600 : #62a048,
    700 : #57973f,
    800 : #4d8d36,
    900 : #3c7d26,
    A100 : #cdffbe,
    A200 : #a6ff8b,
    A400 : #7fff58,
    A700 : #6cff3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : white,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$green-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette($green-palette),
    accent: mat.m2-define-palette($green-palette, A400, A100, A700),
    background: mat.m2-define-palette($green-palette),
    background-color: mat.m2-define-palette($green-palette),
),
));

@include mat.core-theme($green-theme);
@include mat.all-component-themes($green-theme);
@include components.theme($green-theme);
