@use '@angular/material' as mat;
@use 'sass:map';

// from project

@use 'src/app/styles/component-themes' as components;

@include mat.core(); // Mixin that renders all of the core styles that are not theme-dependent.

/* For use in src/lib/core/theming/_palette.scss */
$orange-palette: (
    50 : #fcf2e7,
    100 : #f8dec3,
    200 : #f3c89c,
    300 : #eeb274,
    400 : #eaa256,
    500 : #e69138,
    600 : #e38932,
    700 : #df7e2b,
    800 : #db7424,
    900 : #d56217,
    A100 : #ffffff,
    A200 : #ffe3d4,
    A400 : #ffc3a1,
    A700 : #ffb287,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #FFF,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$orange-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette($orange-palette),
    accent: mat.m2-define-palette($orange-palette, A400, A100, A700),
    background: mat.m2-define-palette($orange-palette),
    background-color: mat.m2-define-palette($orange-palette),
),
));

@include mat.core-theme($orange-theme);
@include mat.all-component-themes($orange-theme);
@include components.theme($orange-theme);
