@use '@angular/material' as mat;
@use 'sass:map';

// from project

@use 'src/app/styles/component-themes' as components;

@include mat.core(); // Mixin that renders all of the core styles that are not theme-dependent.

$teal-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-teal-palette),
    accent: mat.m2-define-palette(mat.$m2-teal-palette, A400, A100, A700),
    background: mat.m2-define-palette(mat.$m2-teal-palette),
    background-color: mat.m2-define-palette(mat.$m2-teal-palette),
),
));

@include mat.core-theme($teal-theme);
@include mat.all-component-themes($teal-theme);
@include components.theme($teal-theme);
