@use '../../styles/screen.scss' as *;

:host * {
    scroll-margin-top: 3rem;
}

.content {
    color: var(--text); // 700
    font-size: 1rem;
}

.ribbon {
    transition: fill 1s ease;
    fill: var(--background2);
}

.ribbon-svg {
    display: none;
}

.circle-ornament {
    fill: var(--primary);
}

.accomp-background {
    transition: background-color 1s ease;
    background-color: var(--background1);
    padding: 3% 10%;
}

.accomplishments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    // padding-left: 5%;
    // padding-right: 5%;
    padding: 0% 5% 10%;
    transition: background-color 1s ease;
    background-color: var(--background1);
}

.subtitle {
    font-size: 1.5rem;

    // text-align: center;
}

.accomplishment {
    width: 100%;
    height: 100%;

    // align-self: baseline;
    // margin-bottom: 35px;
    padding: 1rem;
    border: 1px solid var(--lighter);
    background: var(--background2);
    border-radius: 1rem;
    transition: all 1s ease;
}

.accomplishment-icon {
    display: none;
}

.left-item {
    text-align: center;
}

.right-item {
    text-align: center;
}

@include screen-lg {
    .subtitle {
        font-size: 1.1rem;
    }

    .content {
        font-size: 1.1rem;
    }
}

@include screen-xl {
    .content {
        font-size: 0.95rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .ribbon-svg {
        display: block;
    }

    .left-item {
        text-align: right;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
    }

    .right-item {
        text-align: left;
        align-self: center;
        display: flex;
        flex-direction: row;
    }

    .accomplishment-icon {
        display: block;
        flex: 1 1 80%;
    }

    .accomplishment {
        // padding: 2.5rem;
        // align-self: center;
        // align-self: baseline;
        // margin-bottom: 35px;
        padding: 1rem;
        border: none;
        background: none;
        border-radius: 1rem;
    }

    .accomplishments {
        flex-direction: row;
        text-align: left;
        padding: 0% 15% 5%;
    }

    .tag-left {
        padding: 1rem;
        border: 1px solid var(--background2);
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        background: var(--background2);
        max-height: 10rem;
    }

    .tag-right {
        padding: 1rem;
        border: 1px solid var(--background2);
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background: var(--background2);
        max-height: 10rem;
    }

    .left-arrow {
        width: 0;
        height: 0;
        border-top: 5rem solid transparent;
        border-bottom: 5rem solid transparent;
        border-left: 5rem solid var(--background2);
    }

    .right-arrow {
        width: 0;
        height: 0;
        border-top: 5rem solid transparent;
        border-bottom: 5rem solid transparent;
        border-right: 5rem solid var(--background2);
    }
}

@include screen-2xl {
    .content {
        font-size: 1.1rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }
}
