@import '../../styles/screen.scss';

:host * {
    transition: background-color 1s ease;
    transition: fill 1s ease;
}

.content {
    color: var(--text); // 700
}

.ribbon {
    fill: var(--background2);
}

.circle-ornament {
    transition: fill 1s ease;
    fill: var(--primary);
}

.divider-accomp {
    width: 100%;
    height: 111px;
    background-color: #ffffff;
}

.app-divider {
    transition: background-color 1s ease;
    path {
        fill: var(--background1);
    }
}

.accomp-background {
    transition: background-color 1s ease;
    background-color: var(--background1);
    padding: 3% 10%;
}

.accomplishments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    transition: background-color 1s ease;
    background-color: var(--background1);
}

.subtitle {
    font-size: 1.5rem;
}

.accomplishment {
    align-self: baseline;
    margin-bottom: 35px;
}

.accomplishmentIcon {
    display: none;
}

.leftItem {
    text-align: left;
}

.rightItem {
    text-align: left;
}

@include screen-lg {
    .leftItem {
        text-align: right;
    }

    .accomplishmentIcon {
        display: block;
    }

    .accomplishment {
        align-self: center;
    }

    .accomplishments {
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
    }

    .accomplishments {
        flex-direction: row;
    }
}
