@use '../../styles/screen.scss' as *;

.content {
    color: var(--text); // 700
    font-size: 1.25rem;
}

.ribbon {
    transition: fill 1s ease;
    fill: var(--background2);
}

.ribbon-svg {
    display: none;
}

.circle-ornament {
    fill: var(--primary);
}

.accomp-background {
    transition: background-color 1s ease;
    background-color: var(--background1);
    padding: 3% 10%;
}

.accomplishments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    transition: background-color 1s ease;
    background-color: var(--background1);
}

.subtitle {
    font-size: 1.5rem;
}

.accomplishment {
    align-self: baseline;
    margin-bottom: 35px;
}

.accomplishment-icon {
    display: none;
}

.left-item {
    text-align: left;
}

.right-item {
    text-align: left;
}

@include screen-lg {
    .ribbon-svg {
        display: block;
    }

    .left-item {
        text-align: right;
    }

    .accomplishment-icon {
        display: block;
        flex: 1 1 80%;
    }

    .accomplishment {
        align-self: center;
    }

    .accomplishments {
        flex-direction: row;
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
    }
}
