@use '../../../styles/screen.scss' as * ;

:host {
    cursor: pointer;
}

.svg {
    background: var(--primary);
    border-radius: 50%;
    transition: background 1s ease;
    width:1.5rem;
    height: 1.5rem;
}

.lang-menu-wrapper {
    border-radius: 50%;
}

.langSelect {
    box-shadow: 4px 6px 5px 0px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.langMenu {
    visibility: hidden;
    opacity: 0;
    right: 1.7rem;
    top: 3rem;
    transition:
        visibility 0s,
        opacity 0.25s linear;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 10rem;
    // background-color: var(--background2);
    background-color: #1c2128;
    z-index: 1000;
}

.langMenu::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 27px solid #1c2128;
    position: absolute;
    left: calc(50% + 3.75rem);
    top: -24px;
    transform: rotate(14deg);
}

.showLangDropMenu {
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 3px 8px 0px black;
    border-radius: 0.25rem;
    padding: 0.25rem 0 0.25rem 0;
}

.langMenuItem {
    display: flex;
    flex-direction: row;
}

.langMenuItem :hover {
    background-color: #22272e;
}

.langText {
    color: #bbb;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #2f2f2f;
    border-top: none;
}

@include screen-md {
    .svg {
        width: 2.5rem;
        height: 2.5rem;
    }

}

