<div class="lang-menu-wrapper">
    <div (click)="onClick()" appTooltip="{{ languageService.texts.languageSelect }}" class="lang-select">
        <svg
            class="svg"
            width="24"
            height="24"
            version="1.1"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <circle class="svg-circle" cx="12" cy="12" r="11" fill="none" stroke="#fff" stroke-width=".4" />
            <path
                d="m12.529 6.6222 1.1951.23901-2.2587 10.517-1.1951-.23901 2.2587-10.517m4.0035 5.3778-2.1451-2.1451v-1.691l3.8362 3.8362-3.8362 3.8302v-1.691l2.1451-2.1392m-10.756 0 3.8302-3.8362v1.691l-2.1451 2.1451 2.1451 2.1392v1.691z"
                fill="#fff" />
        </svg>
    </div>

    <div class="lang-menu" [ngClass]="{ 'show-lang-drop-menu': visible }">
        @for (lang of languageService.LanguageList; track lang) {
            <div class="lang-menu-item">
                <div
                    class="lang-text"
                    [class.selected]="lang.code === this.languageService.Language"
                    (click)="changeLanguage(lang.code)"
                    [style.font-family]="lang.font.body">
                    {{ lang.title }}
                </div>
            </div>
        }
    </div>
</div>
