@import '../../../styles/screen.scss';

.MenuButton {
    position: relative;
    z-index: 1000;
    border-radius: 50%;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 0;
    padding: 2px 0 0 3px;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 1000;
    transition: background-color 1s ease;
    background-color: var(--primary);
    color: #000000;
    // fill: var(--background2);
    fill: #fff;

}

.MenuButton.default {
    background-color: transparent;
    color: #ffffff;
}

.menuBtnNoShadow {
    box-shadow: none !important;
}

.MenuButton.default .icon {
    fill: #ffffff;
}

.MenuFullscreen {
    display: block;
    position: fixed;
    z-index: 100;
    background-color: #f8faff;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    width: 100vw;
    height: 100vh;

    overflow: auto;

    .MenuButton {
        color: #252e38;
    }

    nav div {
        margin: 16px 0;
    }
    nav a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    nav a:hover {
        transition: all 0.5s ease;
        color: lightgray;
        // font-size:40px;
    }
    nav a.active {
        color: #bababa;
    }
    nav {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.wrapper {
    text-align: center;
}

/* Menu button animation */
.animated #line1 {
    transform: translateY(9px) translateX(9px) rotate(-45deg);
    transform-origin: 4px 6px;
    // fill: #252E38;
}
.animated #line2 {
    transform: translateY(13px) translateX(-3px) rotate(45deg);
    transform-origin: 36px -5px;
    // fill: #252E38;
}
.animated #line3 {
    opacity: 0;
}
#line1,
#line2,
#line3 {
    -webkit-transition: all 0.35s; /* Safari */
    transition: all 0.35s;
}

.MenuFullscreen {
    visibility: hidden;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-name: fadein;
    background-color: var(--primary) !important;
}

.hide {
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-name: fadeout;
    opacity: 0;
    visibility: hidden;
}

@include screen-sm {
    .MenuFullscreen nav a {
        font-size: 1.5rem;
    }
}

@include screen-md {
    .MenuFullscreen nav a {
        font-size: 2rem;
    }
}

.elementToFadeInAndOut {
    opacity: 1;
}


@keyframes fadein {
    from {
        opacity: 0;
    visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
