<div
    appTooltip="{{ languageService.texts.menu.tooltip }}"
    color="primary"
    class="menu-button menu-toggle"
    [class.open]="visible"
    [class.btn-shadow]="visible"
    (click)="toggleMenu()"
    (window:scroll)="onScroll($event)">
    <svg width="24" height="24" viewBox="0 0 24 24">
        <circle class="svg-circle" cx="12" cy="12" r="11" fill="none" stroke="white" stroke-width="1" />
        <rect class="line top" x="6" y="7" width="12" height="1" rx="1" />
        <rect class="line middle" x="6" y="11" width="12" height="1" rx="1" />
        <rect class="line bottom" x="6" y="15" width="12" height="1" rx="1" />
    </svg>
</div>

<div class="menu-fullscreen" [class.open]="visible">
    <div class="menu-list">
        <nav>
            @for (item of languageService.texts.menu.list; track item) {
                <span
                    class="link"
                    [style.font-family]="languageService.texts.font.menu"
                    (mousemove)="onHover(item.link)"
                    (mouseout)="onMouseOut()"
                    (click)="scrollTo(item.link)"
                    >{{ item.name }}</span
                >
            }
        </nav>
    </div>
</div>
