@use '../../../styles/screen.scss' as *;

.menu-button {
    position: relative;
    border-radius: 50%;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 0;
    padding: 2px 0 0 3px;
    z-index: 1000;
    transition: background-color 1s ease;
    background-color: var(--primary);
    color: #000;

    // fill: var(--background2);
    fill: #fff;
}

.link {
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu-button.default {
    background-color: transparent;
    color: #fff;
}

.menu-btn-no-shadow {
    box-shadow: none !important;
}

.menu-button.default .icon {
    fill: #fff;
}

.menu-fullscreen {
    opacity: 0;
    pointer-events: none;

    // visibility: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: var(--primary) !important;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    transition: opacity 0.5s ease;

    .menu-button {
        color: #252e38;
    }

    nav div {
        margin: 16px 0;
    }

    nav span {
        // color: #fff;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 5vh;
        width: 100%;
    }

    nav span:hover {
        transition: all 0.5s ease;
        color: lightgray;

        // font-size:40px;
    }

    nav span.active {
        color: #bababa;
    }

    nav {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
}

.menu-fullscreen.open {
    opacity: 1;
    pointer-events: auto;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

// @include screen-sm {
// }

.btn-shadow {
    box-shadow: 1px 1px 10px -2px #000;

    .svg-circle {
        stroke: none;
    }
}

@include screen-md {
    nav {
        height: 80% !important;
    }

    nav span {
        // color: var(--light) !important;
        color: #FFF !important;

        // font-size: 3vw !important;
        font-size: 5vmin !important;
    }

    nav a:hover {
        color: lightgray !important;

        // font-size:40px;
    }

    .menu-list {
        width: 65%;
    }
}

.element-to-fade-in-and-out {
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.menu-toggle {
    background: var(--primary);
    border: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    // box-shadow: 0px 0px 3px 0px black;

    .line {
        transition:
            transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top {
        transform-origin: 20px 4.5px;
    }

    .middle {
        transform-origin: 28px 26.5px;
    }

    .bottom {
        transform-origin: 21px 19.5px;
    }

    &.open {
        .top {
            transform: translateY(11px) rotate(45deg);
        }

        .middle {
            opacity: 0;
        }

        .bottom {
            transform: translateY(-11px) rotate(-45deg);
        }
    }
}
