@use '../../../styles/screen.scss' as *;

.menu-button {
    position: relative;
    border-radius: 50%;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 0;
    padding: 2px 0 0 3px;
    z-index: 1000;
    transition: background-color 1s ease;
    background-color: var(--primary);
    color: #000;

    // fill: var(--background2);
    fill: #fff;
}

.link {
    cursor: pointer;
    border-top: 2px solid var(--lighter);
    padding: 1.25rem;
}

svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu-button.default {
    background-color: transparent;
    color: #fff;
}

.menu-btn-no-shadow {
    box-shadow: none !important;
}

.menu-button.default .icon {
    fill: #fff;
}

.menu-fullscreen {
    opacity: 0;
    pointer-events: none;

    // visibility: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: var(--primary) !important;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    transition: opacity 0.5s ease;

    .menu-button {
        color: #252e38;
    }

    nav div {
        margin: 16px 0;
    }

    nav span {
        // color: #fff;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 5vh;
        width: 100%;
    }

    nav .text {
        --c: white; /* the border color */
        --b: 0.2rem; /* the border thickness */
        --g: 1rem; /* the gap on hover */

        padding: calc(var(--g) + var(--b));

        --ga: #0000 25%, var(--c) 0;

        background:
            conic-gradient(from 180deg at top var(--b) right var(--b), var(--ga)) var(--ia, 200%) 0 / 200% var(--ia, var(--b)) no-repeat,
            conic-gradient(at bottom var(--b) left var(--b), var(--ga)) 0 var(--ia, 200%) / var(--ia, var(--b)) 200% no-repeat;
        transition:
            0.3s,
            background-position 0.2s 0.2s;
    }

    nav .text:hover {
        --ia: 100%;

        transition:
            0.2s,
            background-size 0.2s 0.2s;
    }

    nav span:hover {
        transition: all 0.5s ease;
        color: lightgray;

        // font-size:40px;
    }

    nav span.active {
        color: #bababa;
    }

    nav {
        width: 100%;

        // height: 100%;
        // height: 70%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
}

.menu-fullscreen.open {
    opacity: 1;
    pointer-events: auto;
}

.menu-list {
    display: flex;
    flex-direction: column;

    // justify-content: center;
    height: 100%;
    width: 100%;
}

// @include screen-sm {
// }

.btn-shadow {
    box-shadow: 1px 1px 10px -2px #000;

    .svg-circle {
        stroke: none;
    }
}

@include screen-md {
    nav {
        height: 100% !important;
    }

    nav span {
        // color: var(--light) !important;
        color: #fff !important;
        border: none;

        // font-size: 3vw !important;
        font-size: 5vmin !important;
    }

    nav a:hover {
        color: lightgray !important;

        // font-size:40px;
    }

    .menu-list {
        width: 65%;
        justify-content: center;
    }
}

.element-to-fade-in-and-out {
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.menu-toggle {
    background: var(--primary);
    border: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    // box-shadow: 0px 0px 3px 0px black;

    .line {
        transition:
            transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 3s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top {
        transform-origin: left;
    }

    .middle {
        transform-origin: 28px 26.5px;
    }

    .bottom {
        transform-origin: left;
    }

    &.open {
        .top {
            transform: translateY(-6px) translateX(-1px) rotate(45deg);
            width: 14px;
        }

        .middle {
            opacity: 0;
            transform: translateY(7.25px) translateX(-15.25px) rotate(45deg);
            width: 11px;
        }

        .bottom {
            transform: translateY(6px) translateX(-1px) rotate(-45deg);
            width: 14px;

            // width: 12px;
        }
    }
}
