<div
    appTooltip="{{ lang.texts.menu.tooltip }}"
    color="primary"
    class="MenuButton menu-toggle"
    [class.open]="visible"
    (click)="toggleMenu()"
    aria-label="Toggle menu"
    (window:scroll)="onScroll($event)">
    <svg width="56" height="56" viewBox="0 0 56 56">
        <rect class="line top" x="13" y="14" width="31" height="5" rx="2" />
        <rect class="line middle" x="13" y="24" width="31" height="5" rx="2" />
        <rect class="line bottom" x="13" y="34" width="31" height="5" rx="2" />
    </svg>
</div>

@if (visible) {
    <div class="MenuFullscreen" [ngClass]="{ hide: !visible }">
        <nav>
            @for (item of lang.texts.menu.list; track item) {
                <div class="wrapper">
                    <a
                        class="link"
                        [ngClass]="{ unhovered: hovered && hovered !== item.link }"
                        [style.font-family]="lang.texts.font.menu"
                        (mousemove)="onHover(item.link)"
                        (mouseout)="onMouseOut()"
                        (click)="scrollTo(item.link)"
                        >{{ item.name }}</a
                    >
                </div>
            }
        </nav>
    </div>
}
