@use '../../../styles/screen.scss' as *;

.title .line {
    margin-top: 8px;
    position: absolute;
}

.title {
    position: relative;
    cursor: default;
    text-decoration: none;

    // color: var(--text);
    color: var(--light);
    display: inline-block;
    text-align: left;
}

.main-heading-title {
    width: min-content;
    text-wrap: nowrap;
}

.styleish-title {
    font-weight: 100;
    font-size: 55px;
}

.styleish {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 100;
    background: linear-gradient(
            90deg,
            var(--light),
            var(--light),
            var(--light),
            var(--lighter),
            var(--light),
            var(--light),
            var(--light)
        ) -100% / 200%;
    background-clip: text;
    color: transparent;
    animation: background 4s ease-in-out infinite;
}

.styleish::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    bottom: -0.5rem;
    left: 0;
    background-color: var(--lighter);
    transform: scaleX(0);
    transition: transform 0.3s ease;

    // transform-origin: top left;
    animation: underline 4s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes background {
    to {
        background-position: 100%;
    }
}

@keyframes underline {
    0% {
        transform: scaleX(0);
        transform-origin: top left;
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
        transform-origin: top right;
    }
}

.normal {
    font-size: 1rem;
    line-height: 1.5rem;
}

@include screen-4xs {
    .styleish {
        font-size: 1.75rem;
        line-height: 1;
    }
}

@include screen-3xs {
    .styleish {
        font-size: 2rem;
        line-height: 1;
    }
}

@include screen-2xs {
    .styleish {
        font-size: 2.25rem;
        line-height: 1;
    }
}

@include screen-xs {
    .styleish {
        font-size: 2.5rem;
        line-height: 1;
    }
}

@include screen-sm {
    .styleish {
        font-size: 3rem;
        line-height: 1;
    }
}

@include screen-md {
    .styleish {
        font-size: 3.5rem;
        line-height: 1;
    }

    .normal {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
