@if (anchor) {
    <a name="{{ anchor }}">
        <div class="title">
            <h2
                #titleText
                class="main-heading-title"
                [style.font-family]="fontFamily"
                [style.font-weight]="fontWeight"
                [ngClass]="stylish ? 'styleish' : 'normal'">
                {{ title }}
            </h2>
        </div>
    </a>
} @else {
    <div class="title">
        <h2
            #titleText
            class="main-heading-title"
            [style.font-family]="fontFamily"
            [style.font-weight]="fontWeight"
            [ngClass]="stylish ? 'styleish' : 'normal'">
            {{ title }}
        </h2>
    </div>
}
