@use '../../../styles/screen.scss' as *;

.title .line {
    margin-top: 8px;
    position: absolute;
}

.title {
    color: var(--text);
    display: inline-block;
    text-align: left;
}

.main-heading-title {
    width: min-content;
    text-wrap: nowrap;
}

.styleishTitle {
    font-weight: 100;
    font-size: 55px;
}

.styleish {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 100;
}

.normal {
    font-size: 1rem;
    line-height: 1.5rem;
}

@include screen-xs {
    .styleish {
        font-size: 2.5rem;
        line-height: 1;
    }
}

@include screen-sm {
    .styleish {
        font-size: 3rem;
        line-height: 1;
    }
}

@include screen-md {
    .styleish {
        font-size: 3.5rem;
        line-height: 1;
    }
    .normal {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
