@use '../../../styles/screen.scss' as *;

.tracker {
    display: block;
    z-index: 3;
    position: fixed;
    top: 0;
    height: 0.55rem;
    background-color: var(--light);
}

@include screen-xl {
    .tracker {
        display: none;
    }
}
