@use '../../styles/screen.scss' as *;

:host {
    scroll-margin-top: 1000px;
}

.experience {
    scroll-margin-top: 3rem;
    padding: 0 1%;
    background: var(--background2);
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 1s ease;
}

.experience .h2 {
    margin: 0%;
}

@include screen-xl {
    .experience {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
}

@include screen-md {
    .experience {
        padding-left: 13%;
        padding-right: 13%;
    }
}

@include screen-sm {
    .experience {
        padding-left: 1%;
        padding-right: 1%;
    }
}
