@use '../../styles/screen.scss' as *;

.experience {
    padding: 0 5%;
    background: var(--background2);
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 1s ease;
}

.experience .h2 {
    margin: 5% 0%;
}

@include screen-md {
    .experience {
        padding-left: 10%;
        padding-right: 10%;
    }
}
