@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {

  $color-config     : mat.get-color-config($theme);
  $accent           : map.get($color-config, 'accent');
  $background       : map.get($color-config, 'background');
  $background-color : map.get($color-config, 'background-color');

  .langmenu {
    background: 0 0;
    border:none;
    cursor: pointer;
  }

  .lang-select-icon {
    width:35px;
    height:35px;
    // background-color: mat-color($accent);
    background: 0 0;
  }

  .lang-selection {
    position: relative;
    top: -8px;
  }

  .small-icons {
    width:30px;
  }

  .lang-button {
    padding-top:8px ! important;
  }

}

:host {
  margin: 0.5em;
}
