/* Raleway */

/* Regular */
@font-face {
  font-family: 'Raleway';
  src: url(../../assets/fonts/Raleway-Regular.ttf);
  font-display: swap;
}

.wf-opensans-n4-active.wf-opensans-n7-active body{
  font-family: 'Raleway', sans-serif;
}
