/* Raleway */

/* Regular */
@font-face {
  font-family: 'Raleway';
  src: url(../../assets/fonts/Raleway-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Monoton';
  src: url(../../assets/fonts/Pacifico-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Hiwua';
  src: url(../../assets/fonts/Hiwua.woff2);
  font-display: swap;
}

.wf-opensans-n4-active.wf-opensans-n7-active body{
  font-family: 'Raleway', sans-serif;
}
