@use '../../../styles//screen.scss' as *;

$height: 2.5rem;

.ba-back-top {
    justify-content: center;
    transition: background-color 1s ease;
    transition: opacity 1s ease;
    position: fixed;
    width: $height;
    height: $height;
    cursor: pointer;
    z-index: 80;
    display: none;
    text-decoration: none;
    right: 12%;
    bottom: 4% !important;
    font-size: 45px;
    text-align: center;

    // opacity: 0.9;
    // background-color: rgba(255, 255, 255, 0.25); /* Lower white overlay makes blur stronger */
    background-color: rgb(from var(--background2) r g b / 60%);

    // backdrop-filter: blur(2px);

    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    // background-color: var(--primary);
    // background-color: white;
    border-radius: 50%;

    // line-height: 40px;
    border: 1px solid var(--line);

    // &:hover {
    //     opacity: 1;
    // }
    // background-image: url('../../../assets/img/arrow-top.png');
    // background-size: contain;
    // background-size: cover;
}

#svg-back-to-top {
    width: 80%;

    path {
        fill: var(--light);
    }
}

@include screen-md {
    .ba-back-top {
        opacity: 0.9;
        width: 3rem;
        height: 3rem;
    }

    .ba-back-top:hover {
        opacity: 1;
    }
}

@include screen-lg {
    .ba-back-top {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .ba-back-top:hover {
        opacity: 1;
    }
}

@media only screen and (width <= 768px) {
    .ba-back-top {
        right: 1rem;
        bottom: 1rem !important;
    }
}
