@use '../../../styles//screen.scss' as *;
$height: 52px;

.ba-back-top {
    transition: background-color 1s ease;
    transition: opacity 1s ease;
    color: #fff;
    position: fixed;
    width: $height;
    height: $height;
    cursor: pointer;
    z-index: 97;
    display: none;
    text-decoration: none;
    right: 40px;
    bottom: 40px !important;
    font-size: 45px;
    text-align: center;
    opacity: 1;
    background-color: var(--primary);
    border-radius: 50%;
    line-height: 40px;
    // &:hover {
    //     opacity: 1;
    // }
    // background-image: url('../../../assets/img/arrow-top.png');
    background-size: contain;
    background-size: cover;
}

@include screen-md {
    .ba-back-top {
        opacity: 0.3;
    }

    .ba-back-top:hover {
        opacity: 1;
    }
}

@media (hover: hover) and (pointer: fine) {
    .ba-back-top:hover {
        opacity: 1;
    }
}

#svg-backTo-top {
    margin-top: 8px;
    position: absolute;
    left: 12px;
}

@media only screen and (max-width: 768px) {
    .ba-back-top {
        width: 36px;
        height: 36px;
        right: 1rem;
        bottom: 1rem !important;
    }

    #svg-backTo-top {
        margin-top: 7px;
        position: absolute;
        left: 4px;
        height: 20px;
    }
}
