@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme){

  $color-config     : mat.m2-get-color-config($theme);
  $primary          : map.get($color-config, 'primary');
  $accent           : map.get($color-config, 'accent');
  $background       : map.get($color-config, 'background');
  $background-color : map.get($color-config, 'background-color');

  $height: 52px;

  .ba-back-top {
    transition: background-color 1s ease;
    transition: opacity 1s ease;
    color: #FFF;
    position: fixed;
    width: $height;
    height: $height;
    cursor: pointer;
    z-index: 97;
    display: none;
    text-decoration: none;
    right: 40px;
    bottom: 40px !important;
    font-size: 45px;
    text-align: center;
    opacity: 0.3;
    background-color: mat.m2-get-color-from-palette($primary);
    border-radius: 50%;
    line-height: 40px;
    &:hover {
      opacity: 1;
    }
    // background-image: url('../../../assets/img/arrow-top.png');
    background-size: contain;
    background-size: cover;
  }

  #svg-backTo-top {
    margin-top: 8px;
    position: absolute;
    left: 12px;
  }
}
