@use '../../../styles/screen.scss' as *;

:host {
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    z-index: 90;
}

.fa-color-lens {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

svg {
    width: 100%;
    height: 100%;

    path {
        fill: white;
    }
}

.color-btn {
    box-shadow: 1px 1px 9px -2px black;
    border-radius: 100%;
}

.shadow-button {
    box-shadow: 1px 1px 9px -2px black;
}

.main-button {
    transition:
        transform 0.75s ease,
        background-color 1s ease !important;
    background-color: var(--primary);
}

.fab-container {
    border-radius: 50%;
    flex-direction: column;
    align-items: center;

    // position: fixed;
    z-index: 99;
    display: flex;

    // top: 0.5rem;
    // left: 1rem;
    // -webkit-box-orient: horizontal;
    // -webkit-box-direction: normal;
}

.btn-wrapper {
    // visibility: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    border: none;
    transition: opacity 1s ease;
    top: auto;
    left: auto;
}

.btn-wrapper.click {
    pointer-events: auto;
    opacity: 1;
}

.mini-color-btn {
    opacity: 0;
    pointer-events: none;
    background: var(--primary);
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 1px 1px 9px -2px black !important;
    border-radius: 50%;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-name: slide-out;
}

.mini-color-btn.open {
    // opacity: 0;
    user-select: none;
    pointer-events: auto;
    background: var(--primary);
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 1px 1px 9px -2px black !important;
    border-radius: 50%;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-name: slide;
}

@for $i from 1 through 12 {
    .mini-color-btn:nth-child(#{$i}n) {
        animation-delay: #{(12 - $i) * 40}ms;
        opacity: 1;
        transform: translateY(0);
    }
}

@for $i from 1 through 12 {
    .mini-color-btn.open:nth-child(#{$i}n) {
        animation-delay: #{$i * 40}ms;
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes slide {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(30px);
        opacity: 0;
    }
}

.fab-toggler {
    transition: transform 0.5s ease;
    float: right;

    // padding: 2px;
    border-radius: 50%;
    z-index: 100;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

    // box-shadow: 1px 1px 9px -2px black;
    // border: 1px solid #DCDCDD;
}

.rotate {
    transition: transform 0.5s ease;
    transform: rotate(-180deg);
    box-shadow: 1px 1px 9px -2px black;
}

#fab-dismiss {
    position: fixed;
    inset: 0;
    z-index: 99;
}

@include screen-md {
    .fab-toggler {
        width: 3rem;
        height: 3rem;
        padding: 3px;
    }

    .btn-wrapper {
        flex-direction: row;
        top: 6%;
        left: 100%;
    }

    .fab-container {
        flex-direction: row;
    }

    :host {
        top: 1rem;
        left: 2rem;
    }
}

@media (height <= 540px) {
    // .fab-toggler {
    //     width: 3.5rem;
    //     height: 3.5rem;
    // }
    .btn-wrapper {
        flex-direction: row;
        top: 6%;
        left: 100%;
    }

    .fab-container {
        flex-direction: row;
    }
}
