@use '../../../styles/screen.scss' as *;

:host * {
    transition: background-color 1s ease;
    transition: color 1s ease;
    transition: fill 1s ease;
}

#outline {
    position: fixed;
    display: none;
    top: 15%;
    left: calc(100% - 18rem);
    z-index: 96;
    width: 16rem;
}

.timeline {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 1.25rem;
    list-style-type: none;
}


.timeline li {
    margin-top: -1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flag {
    transition: background-color 1s ease;
    position: relative;
    display: inline;
    background: var(--background2);
    padding: 6px 10px;
    border-radius: 5px;
    border-bottom-right-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    align-self: anchor-center;
    color: var(--text);
}

.tag {
    display: flex;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248 248 248);
}

.active {
    transition: all 0.5s ease;
    color: white !important;
    font-size: 1.25rem !important;
    background: var(--primary) !important;
    fill: var(--primary) !important;
}

.arrow {
    width: 1rem;
    cursor: pointer;
}

.dot {
    width: 1.25rem;
    cursor: pointer;
}

.line {
    fill: var(--text);
    align-self: end;
    height: 3.5rem;
    width: 0.75rem;
    margin-top: -0.65rem;
    margin-right: 0.25rem;
    margin-bottom: 0.3rem;
}

@include screen-xl {
    .timeline {
        display: flex;
        flex-direction: column;
    }
}
