@use '../../../styles/screen.scss' as *;

:host * {
    transition: background-color 1s ease;
    transition: color 1s ease;
    transition: fill 1s ease;
}

#outline {
    position: fixed;
    display: none;
    top: 15%;
    left: calc(100% - 22rem);
    z-index: 96;
    width: 18rem;
}

.timeline {
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    list-style-type: none;
}

.timeline::before {
    display: none !important;
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80 80 80);

    // background: linear-gradient(
    //     top,
    //     rgb(80 80 80 / 0%) 0%,
    //     rgb(80 80 80) 8%,
    //     rgb(80 80 80) 92%,
    //     rgb(80 80 80 / 0%) 100%
    // );
    // background: -webkit-gradient(
    //     linear,
    //     left top,
    //     left bottom,
    //     color-stop(0%, rgb(30 87 153 / 100%)),
    //     color-stop(100%, rgb(125 185 232 / 100%))
    // );
    // background: linear-gradient(
    //     top,
    //     rgb(80 80 80 / 0%) 0%,
    //     rgb(80 80 80) 8%,
    //     rgb(80 80 80) 92%,
    //     rgb(80 80 80 / 0%) 100%
    // );
    // background: linear-gradient(
    //     top,
    //     rgb(80 80 80 / 0%) 0%,
    //     rgb(80 80 80) 8%,
    //     rgb(80 80 80) 92%,
    //     rgb(80 80 80 / 0%) 100%
    // );
    // background: linear-gradient(
    //     top,
    //     rgb(80 80 80 / 0%) 0%,
    //     rgb(80 80 80) 8%,
    //     rgb(80 80 80) 92%,
    //     rgb(80 80 80 / 0%) 100%
    // );
    // background: linear-gradient(
    //     to bottom,
    //     rgb(80 80 80 / 0%) 0%,
    //     rgb(80 80 80) 8%,
    //     rgb(80 80 80) 92%,
    //     rgb(80 80 80 / 0%) 100%
    // );
    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    transition: all 1s ease;
    position: relative;
    display: inline-block;
    text-align: center;
}

.flag {
    transition: background-color 1s ease;
    position: relative;
    display: inline;
    background: var(--background2);
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    box-shadow:
        -1px 1px 1px rgb(0 0 0 / 15%),
        0 0 1px rgb(0 0 0 / 15%);
}

.direction-r .flag {
    box-shadow:
        1px 1px 1px rgb(0 0 0 / 15%),
        0 0 1px rgb(0 0 0 / 15%);
}

.direction-l .flag::before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    margin-top: -10px;
    border-radius: 10px;
    border: 4px solid lightgray;
    opacity: 0.5;
    z-index: 10;
}

.direction-r .flag::before {
    left: -40px;
}

.flag::after {
    border-left-color: var(--background2) !important;
}

.direction-l .flag::after {
    transition: all 1s ease;
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: var(--background2);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248 248 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248 248 248);
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

.active::before {
    transition: all 0.5s ease;
    background-color: var(--primary) !important;
    border: 4px solid var(--primary) !important;
    opacity: 1 !important;
}

.active::after {
    transition: all 0.5s ease;
    border-left-color: var(--primary) !important;
}

.active {
    transition: all 0.5s ease;
    color: white;
    font-size: 20px !important;
    background: var(--primary) !important;

    // box-shadow: 0px 4px 55px -4px var(--text) ! important;
}

@include screen-xl {
    .timeline {
        display: block;
    }
}
