<div #outline id="outline">
    <ul class="timeline">
        @for (item of languageService.texts.menu.list; track trackItem($index, item)) {
            <li>
                <div class="direction-l">
                    <span
                        (click)="scrollTo(item.link)"
                        [style.font-family]="languageService.texts['font'].outlineMenu.fontFamily"
                        [style.font-weight]="languageService.texts['font'].outlineMenu.fontWeight"
                        class="flag"
                        [ngClass]="{ active: item.link === currentSection }">
                        {{ item.name }}
                    </span>
                </div>
            </li>
        }
    </ul>
</div>
