@use '../../../styles//screen.scss' as *;

.outer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 5%;
}

.job-year {
    display: block;
}

.timeline-paragraph {
    transition: all 1s ease;
    color: var(--primary);
    filter: brightness(130%);
    font-weight: bold;
}

.content {
    color: var(--text); // 700
}

.content-list {
    font-size: 1.125rem;
}

.subtitle {
    transition: all 1s ease;
    color: var(--primary);
    filter: brightness(130%);
}

.l-experience-list::after {
    content: ' ';
    position: absolute;
    right: -4.9%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40%;
    background: rgb(var(--primary), 0.2);
}

.r-experience-list::before {
    content: ' ';
    position: absolute;
    margin-left: -4.9%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 44%;
    background: rgb(var(--primary), 0.2);
    display: none;
}

.experience-list {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    color: #585858;
    font-size: 13px;
    margin: 20px 0;
    line-height: 19px;
}

.experience-list-item {
    flex-grow: 1;
    border: 1px solid var(--lighter);
    padding: 0.5rem;
    width: fit-content;
    border-radius: 7px;
}

.left-flex-layout {
    // justify-content: flex-end;
    justify-content: flex-start;

    .left-item-flex-layout {
        box-shadow: -3px 4px 3px -3px var(--lighter);
    }
}

.right-flex-layout {
    justify-content: flex-start;

    .right-item-flex-layout {
        box-shadow: 3px 4px 3px -3px var(--lighter);
    }
}

.middle {
    display: none;

    // order: 3;
    // width: 100%;
    // border: 1px solid var(--lighter);
    // margin-bottom: 3rem;
}

.bottom {
    margin: 0;
}

.mid-icon {
    position: absolute;
    color: #eeeff0;
    margin: 180px 0 0 -11px;
}

.main-title {
    transition: color 1s ease;
    color: var(--primary);
    filter: brightness(130%);
}

.left,
.left .main-title {
    text-align: left;
}

.right,
.right .main-title {
    text-align: left;
}

.main-title.link {
    cursor: pointer;

    // margin-bottom: 8px;
}

.used {
    overflow-wrap: break-word;

    // word-break: break-word;
}

.chip {
    margin: 4px !important;

    // color:#FFFFFF;
    background: none !important;
    transition: all 1s ease;
    border: 1px solid var(--primary) !important;
    font-size: 14px !important;
    font-weight: 500 !important;

    *::before {
        // border-color: none !important;
        border: none !important;
    }
}

.gap-top {
    padding: 15px 0 0;
}

.left {
    justify-content: flex-end;
}

// .line {
//     background-color: var(--lightest);
// }

.adjust {
    fill: var(--lighter);
}

.order1 {
    order: 1;
}

.order3 {
    order: 3;
}

.left-side {
    flex: 1 1 100%;
}

.right-side {
    flex: 1 1 100%;
    order: 3;
}

.year-duration {
    display: none;
    font-size: 1.25rem;
}

@include screen-lg {
    .year-duration {
        display: block;
    }

    .experience-list-item {
        flex-grow: 0;
    }

    .job-year {
        display: none;
    }

    .used {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .content-list {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .right-side {
        flex: 1 1 48%;
        padding-top: 10rem;
    }

    .left-side {
        flex: 1 1 48%;
        padding-top: 10rem;
    }

    .middle {
        display: block;
        flex: 1 1 4%;
        order: 2;
        width: 3px;
        margin: 0 auto;
        border: none;
    }

    .line {
        width: 3px;
        height: 100%;
        overflow: auto;
        margin: 0 auto;
        background-color: var(--lightest);
    }

    .bottom {
        margin-top: 20px;
    }

    .outer {
        flex-wrap: nowrap;
        padding-bottom: 0%;
    }

    .order1 {
        order: 1;
    }

    .order3 {
        order: 3;
    }

    .left,
    .left .main-title {
        text-align: right;
    }

    .left .gap-top {
        justify-content: flex-start;
    }

    .right .chips-align {
        justify-content: flex-start;
    }

    .left-flex-layout {
        justify-content: flex-end;
    }

    .experience-list {
        margin: 20px 0;
    }

    .left-item-flex-layout::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 46%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: var(--lighter);
        border-width: 10px;
        pointer-events: none;
    }

    .right-item-flex-layout::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: var(--lighter);
        border-width: 10px;
        pointer-events: none;
    }
}
