@import '../../../styles//screen.scss';

.outer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 5%;
}

.job-year {
    display: block;
}

.timelineParagraph {
    color: var(--primary);
    filter: brightness(130%);
    font-weight: bold;
}

.content {
    color: var(--text); // 700
}

.subtitle {
    color: var(--primary);
    filter: brightness(130%);
}

.lExperienceList:after {
    content: ' ';
    position: absolute;
    right: -4.9%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40%;
}

.rExperienceList:before {
    content: ' ';
    position: absolute;
    margin-left: -4.9%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 44%;
}

.experienceList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    color: #585858;
    font-size: 13px;
    margin: 20px 0px 20px 0;
    line-height: 19px;
}

.experienceListItem {
    flex-grow: 1;
    border: 1px solid var(--lighter);
    padding: 8px;
    width: fit-content;
    border-radius: 7px;
}

.leftFlexLayout {
    justify-content: flex-end;

    .leftItemFlexLayout {
        box-shadow: -3px 4px 3px -3px var(--lighter);
    }
}

.rightFlexLayout {
    justify-content: flex-start;

    .rightItemFlexLayout {
        box-shadow: 3px 4px 3px -3px var(--lighter);
    }
}

.middle {
    display: none;
    order: 2;
}

.middle .line {
    // background-color: #e7e7e7;
    width: 3px;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
}

// .middle .line.top {
// height: 250px;
// }

.middle .line.bottom {
    margin-top: 20px;
}

.middle .midIcon {
    color: rgba(238, 239, 240, 1);
    position: absolute;
    color: #eeeff0;
    margin: 180px 0 0 -11px;
}

.left,
.left .mainTitle {
    text-align: left;
}

.right,
.right .mainTitle {
    text-align: left;
}

.mainTitle.link {
    cursor: pointer;
    // margin-bottom: 8px;
}

.used {
    word-wrap: break-word;
    word-break: break-word;
}

.chip {
    margin: 4px !important;
    // color:#FFFFFF;
    background: none !important;
}

.gapTop {
    padding: 15px 0 0 0;
}

.left {
    justify-content: flex-end;
}

.lExperienceList:after {
    // border: 3px solid rgba(mat.get-color-from-palette($primary, 400),0.2);
    // background: mat-color($primary, lighter);
    background: rgba(var(--primary), 0.2);
}

.rExperienceList:before {
    // border: 3px solid rgba(mat.get-color-from-palette($primary, 400),0.2);
    background: rgba(var(--primary), 0.2);
    // background: mat-color($primary, lighter);
    // background: rgba(mat.get-color-from-palette($primary, 400),0.3);
}

.chip {
    // background-color: mat-color($accent) !important;
    transition: all 1s ease;
    border: 1px solid var(--primary) !important;
    font-size: 14px !important;
    font-weight: 500 !important;

    *::before {
        border-color: none !important;
        border: none !important;
    }
}

.middle .line {
    background-color: var(--lightest);
}

.mainTitle {
    transition: color 1s ease;
    color: var(--primary);
    filter: brightness(130%);
}

.adjust {
    fill: var(--lighter);
}

.order1 {
    order: 1;
}

.order3 {
    order: 3;
}

.leftSide {
    flex: 1 1 100%;
}

.rightSide {
    flex: 1 1 100%;
    order: 3;
}

.rExperienceList:before {
    display: none;
}

.leftFlexLayout {
    justify-content: flex-start;
}

.year-duration {
    display: none;
    font-size: 1.25rem;
}

@include screen-lg {
    .year-duration {
        display: block;
    }

    .experienceListItem {
        flex-grow: 0;
    }

    .job-year {
        display: none;
    }

    .used {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .content-list {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .rightSide {
        flex: 1 1 48%;
        padding-top: 10rem;
    }

    .leftSide {
        flex: 1 1 48%;
        padding-top: 10rem;
    }

    .middle {
        flex: 1 1 4%;
        display: block;
    }
    .outer {
        flex-wrap: nowrap;
        padding-bottom: 0%;
    }

    .order1 {
        order: 1;
    }

    .order3 {
        order: 3;
    }

    .left,
    .left .mainTitle {
        text-align: right;
    }

    .left .gapTop {
        justify-content: flex-start;
    }

    .right .chipsAlign {
        justify-content: flex-start;
    }

    .leftFlexLayout {
        justify-content: flex-end;
    }

    .experienceList {
        margin: 20px 0px 20px 0;
    }

    .leftItemFlexLayout:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 46%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: var(--lighter);
        border-width: 10px;
        pointer-events: none;
    }

    .rightItemFlexLayout:before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: var(--lighter);
        border-width: 10px;
        pointer-events: none;
    }
}
