#mainWrapper {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.viewWrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}
