#main-wrapper {
    position: fixed;
    overflow: hidden auto;
    height: 100%;
    width: 100%;
}

.view-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}
