@use '../../styles//screen.scss' as *;

.about {
    position: relative;
    transition: background-color 1s ease;
    width: 100%;
    padding: 0% 10%;
    box-sizing: border-box;
    background-color: var(--background2);
}

.about p {
    line-height: 35px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5%;
}

.btn-download {
    transition: all 1s ease;
    padding: 2% 0% !important;
    color: white;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    box-sizing: border-box;

    // display: flex;
    // flex: 1 1 20%;
    // justify-content: center;
    width: 80%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.profile {
    border: 3px solid var(--primary);
    margin-bottom: 5%;
    width: 10rem;
    transition: filter 2.5s ease;
    background-image: url('../../../assets/img/expertin-min.webp');
    background-position: 10% 85%;
    background-size: 230%;
    filter: grayscale(100%);
    border-radius: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.about-title {
    margin-bottom: 24px;
    text-align: center;
}

.intro-content {
    display: flex;
    flex: 1 1 80%;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

.content-paragraph {
    font-size: 1.125rem;
    text-align: center;
}

.intro-content p {
    margin: 16px 0;
    color: var(--text);

    // filter: grayscale(1);
}

.intro-content p:first-child {
    margin-top: 0;
}

.profile:hover {
    filter: grayscale(0%);
}

@include screen-xxs {
    .profile {
        width: 10rem;
    }
}

@include screen-xs {
    .profile {
        width: 12rem;
    }
}

@include screen-sm {
    .about {
        padding-top: 1.25rem;
    }

    // .profile {
    //     width: 30%;
    // }
}

@include screen-md {
    .about {
        padding-top: 2.5rem;
    }

    .profile-picture {
        width: 50%;
    }
}

@include screen-lg {
    .about {
        padding-top: 4rem;
    }

    .about-title {
        text-align: left;
    }

    .about-content {
        flex-direction: row;
    }

    .profile-picture {
        flex: 1 1 15%;
        width: 100%;
    }

    .profile {
        width: 14rem;
        margin-bottom: 0%;
    }

    .content-paragraph {
        text-align: left;
    }
}
