<div #about class="about sm:!pt-5 md:!pt-10 lg:!pt-16">
    <div class="h2 about-title text-center lg:text-left">
        <app-title
            title="{{ lang.texts.about.title }}"
            fontWeight="{{ lang.texts.font.title.fontWeight }}"
            fontFamily="{{ lang.texts.font.title.fontFamily }}"
            [stylish]="true"
            [anchor]="'about'"
            [lineWidth]="250"></app-title>
    </div>
    <div class="flex items-center flex-col lg:flex-row gap-x-[5%]">
        <div class="profile-picture flex flex-[1_1_20%] justify-center self-stretch">
            <div class="profile w-[50%] mb-[5%] lg:mb-[0%] lg:w-auto"></div>
        </div>
        <!-- <div class="w-[5%] h-[5%]">&nbsp;</div> -->
        <div class="introContent flex-[1_1_80%]">
            @for (paragraph of lang.texts.about.content; track paragraph) {
                <p class="leading-7 text-lg text-center lg:text-left" [innerHTML]="paragraph"></p>
            }
            <button
                matTooltip="{{ lang.texts.about.button.tooltip }}"
                class="btn-download w-[100%] lg:w-[40%]"
                [style.font-family]="lang.texts.font.menu"
                [matMenuTriggerFor]="menu">
                <span> {{ lang.texts.about.button.title }} </span> &nbsp; &nbsp;
                <img
                    src="assets/img/download.webp"
                    style="position: inherit"
                    [width]="30"
                    [height]="22"
                    alt="Download File" />
            </button>
            <mat-menu class="download-dropdown-menu" #menu="matMenu">
                <a (click)="onPdfDownload()" href="assets/pdf/Eskinder-CV.pdf" target="_blank">
                    <button mat-menu-item>
                        <img class="menu-options" src="assets/img/pdf.webp" [width]="30" />&nbsp;
                        <span>{{ lang.texts.about.pdf }}</span>
                    </button>
                </a>
                <a class="flex flex-row" (click)="onDocxDownload()" href="assets/doc/Eskinder-CV.docx">
                    <button mat-menu-item>
                        <img class="menu-options" src="assets/img/docx.webp" [width]="30" />&nbsp;
                        <span> {{ lang.texts.about.word }} </span>
                    </button>
                </a>
            </mat-menu>
        </div>
    </div>
</div>
