<section id="about">
    <div #about class="about">
        <div class="h2 about-title">
            <app-title
                title="{{ languageService.texts.about.title }}"
                fontWeight="{{ languageService.texts.font.title.fontWeight }}"
                fontFamily="{{ languageService.texts.font.title.fontFamily }}"
                [stylish]="true"
                [anchor]="'about'"
                [lineWidth]="250"></app-title>
        </div>
        <div class="about-content">
            <div class="profile-picture">
                <div class="profile"></div>
            </div>
            <!-- <div class="w-[5%] h-[5%]">&nbsp;</div> -->
            <div class="introContent">
                @for (paragraph of languageService.texts.about.content; track trackAbout($index, paragraph)) {
                    <p
                        [style.font-size.rem]="languageService.texts.font.about?.description?.fontSize"
                        class="contentParagraph"
                        [innerHTML]="paragraph"></p>
                }
                <app-dropdown></app-dropdown>
            </div>
        </div>
    </div>
</section>
