@use '../../styles/screen.scss' as *;

.envelope {
    path {
        transition: fill 1s ease;
        fill: var(--background1) !important;
    }
}

.app-divider {
    height: 5rem;
    transition: background-color 1s ease;
    background: var(--background2);
}

.separatorPath {
    transition: fill 1s ease;
    fill: var(--background1);
}

.contact {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
    transition: background-color 1s ease;
    background-color: var(--background2);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    color: var(--muted);
}
.envelope {
    margin: 0 0 0 -140px;
}
.contactIntro {
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
    color: var(--muted);
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.inputs {
    float: right;
    width: 100%;
}
.input {
    width: 100%;
}
.contact-form {
    margin-top: 32px;
}
.message {
    margin-top: 24px;
}
.horizontal-line {
    transition: background-color 1s ease;
    background-color: var(--background2);
    padding: 2%;
}
.logo {
    float: left;
    width: 89px;
    height: 68px;
}
.copyrights {
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    // padding: 16px;
    text-align: center;
    color: var(--muted);
}
.footer {
    transition: background-color 1s ease;
    background-color: var(--background2);
    width: 100%;
    height: 150px;
}

.contact-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 100;
    text-decoration: none;
    color: var(--muted);
}

.phone {
    text-decoration: none;
    // color: lightblue;
    color: var(--muted);
}

.left {
    display: none;
}

.item {
    flex: 1 1 10%;
    display: none;
}

.saying {
    display: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.right-contact-item {
    flex: 1 1 60%;
}

.waveSvg {
    width: 1920px;
}

@include screen-md {
    .contact-title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contactIntro {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contact {
        flex-direction: row;
        flex: 1 1 90%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@include screen-lg {
    .app-divider {
        height: 6rem;
    }

    .left {
        display: block;
    }
    .item {
        display: block;
    }

    .copyrights {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .saying {
        display: block;
    }
}

@include screen-xl {

    .waveSvg {
        width: 1920px;
    }
}

@include screen-2xl {

    .waveSvg {
        width: 100%;
    }

}
