@use '../../styles/screen.scss' as *;

.envelope {
    margin: 0 0 0 -16rem;

    path {
        transition: fill 1s ease;
        fill: var(--lightest) !important;
    }
}

.app-divider {
    height: 2rem;
    transition: background-color 1s ease;
    background: var(--background2);
}

.separator-path {
    transition: fill 1s ease;
    fill: var(--background1);
}

.contact {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    // align-items: center;
    text-align: center;
    padding: 1% 5%;
    gap: 5%;
    transition: background-color 1s ease;
    background-color: var(--background2);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    color: var(--muted);
}

.contact-intro {
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
    color: var(--muted);
    font-size: 1.25rem;
    line-height: 1.75rem;

    // border: 1px solid var(--lightest);
    // background-color: var(--lightest);
    // background: var(--background1);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 1s ease;
}

.contact-info {
    display: flex;
    flex-flow: column nowrap;

    // gap: 1rem;
    align-items: center;
}

.contactrow {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 0.25rem 0.5rem;

    // background: var(--background1);

    // background: var(--light);
    border-radius: 0.5rem;
}

.link {
    color: var(--primary);
}

.svg-mail {
    width: 3rem;
    height: 3rem;
    fill: var(--primary);

    path {
        stroke-width: 1;

        // stroke: var(--background2);
        stroke: var(--background2);
        transition: all 1s ease;
    }
}

.svg-phone {
    margin: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--primary);

    path {
        stroke-width: 1;

        // stroke: var(--background2);
        stroke: var(--background2);
        transition: all 1s ease;
    }
}

.svg-circle {
    display: flex;
}

.inputs {
    float: right;
    width: 100%;
}

.input {
    width: 100%;
}

.contact-form {
    margin-top: 32px;
}

.message {
    margin-top: 24px;
}

.horizontal-line {
    transition: background-color 1s ease;
    background-color: var(--background2);
    padding: 2%;
}

.logo {
    float: left;
    width: 89px;
    height: 68px;
}

.copyrights {
    font-size: 0.875rem;
    line-height: 1.25rem;

    // padding: 16px;
    text-align: center;
    color: var(--muted);
}

.year {
    font-size: 1.5rem;
}

.footer {
    transition: background-color 1s ease;
    background-color: var(--background2);
    width: 100%;
    height: 150px;
}

.contact-title {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: bold;
    text-decoration: none;

    // color: var(--muted);
    color: var(--primary);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.phone {
    text-decoration: none;
    font-size: 1rem;

    // color: lightblue;
    font-weight: bold;
    color: var(--primary);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.left {
    display: none;
}

.item {
    flex: 1 1 10%;
    display: none;
}

.saying {
    display: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.right-contact-item {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wave-svg {
    width: 100%;

    path {
        transition: all 1s ease;
    }
}

@include screen-md {
    .app-divider {
        height: 5rem;
    }
}

@include screen-lg {
    .contact-title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contact-intro {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .phone {
        text-decoration: none;
        font-size: 1.25rem;
    }

    .contact {
        flex-direction: row;
        flex: 1 1 90%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .contact-info {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        align-items: center;
    }

    .contactrow {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;

        // background: var(--primary);
        // background: var(--light);
        // padding: 1rem;
        border-radius: 0.5rem;
    }

    .app-divider {
        height: 10rem;
    }

    .left {
        display: block;
    }

    .item {
        display: block;
    }

    .copyrights {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .saying {
        display: block;
    }
}

@include screen-xl {
    .wave-svg {
        width: 100%;
    }

    .contact-info {
        align-items: center;
    }
}

@include screen-2xl {
    .wave-svg {
        width: 100%;
    }
}
