@import '~@angular/material/theming';

.experienceList{
  color: #585858;
  font-size: 13px;
  margin-top: 15px;
  line-height: 19px;
}
.middle{
  padding-top: 20px;
}
.middle .line{
  background-color: rgba(238,239,240,1);
  width: 3px;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
}
.middle .line.top{
  height: 16px;
}
.middle .line.bottom{
  margin-top: 20px;
}
.middle .midIcon{
  color: rgba(238,239,240,1);
  position: absolute;
  color: #eeeff0;
  margin: -22px 0 0 -11px;
}
.left,.left .mainTitle{
  text-align: right;
}
.right,.right .mainTitle{
  text-align: left;
}
.left,.right{
  padding-top: 20px;
}
.mainTitle.link{
  cursor: pointer;
  margin-bottom: 8px;
}
.used{
  word-wrap: break-word;
  word-break: break-word;
}
.chip{
  margin: 4px!important;
  // color:#FFFFFF;
  background: none ! important;
}
.gapTop{
  padding-top: 15px;
}

@mixin timeline-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .chip {
    // background-color: mat-color($accent) !important;
    transition: all 1s ease;
    border: 2px solid lightgrey ! important;
    color: grey ! important;
    font-weight: bold;
  }

  .mainTitle {
    transition: color 1s ease;
    color: mat-color($accent);
  }

  .adjust {
    // fill: mat-color($accent, lighter);
    fill: rgba(238,239,240,1);

  }
}
