@use '../../../styles//screen.scss' as *;

:host {
    width: 100%;
    cursor: pointer;
    a,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
    }
}

.menuBtn {
    position: relative;
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary) !important;
    border-radius: 0.5rem;
}

svg {
    width: 30px;
    height: 30px;
}

.menu {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1s,
        opacity 1s ease;
    display: flex;
    position: absolute;
    top: 63px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 0;
    flex-direction: column;
    // background-color: var(--background1);
    background-color: #424242;
}

.showDropMenu {
    visibility: visible;
    opacity: 1;
}

.menuItem a {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 0.25rem;
    text-decoration-line: none;
}

.menuItem > a > * {
    margin: 0.5rem;
    font-size:1rem;
}

.menuItem:hover {
    // background-color: var(--background2);
    // background-color: var(--lighter);
    background: #4f4e4e;
    border-radius: 10px;
}

// @include screen-md {
//     :host {
//         // border:3px solid red;
//         width: 100%;
//     }
// }

@include screen-xl {
    :host {
        width: 40% !important ;
    }
}
