<div class="lang-menu-wrapper">
    <button
        matTooltip="{{ lang.texts.languageSelect }}"
        [matTooltipPosition]="'below'"
        mat-button
        [matMenuTriggerFor]="menu"
        class="langmenu">
        <img class="lang-select-icon" src="assets/img/language.webp" alt="Language Selector" />
    </button>
    <mat-menu class="lang-menu-dropdown" #menu="matMenu" [xPosition]="'before'">
        @for (lang of lang.LanguageList; track lang) {
            <button class="lang-button" mat-menu-item (click)="changeLanguage(lang.code)">
                <span class="lang-selection" [style.font-family]="lang.font">{{ lang.title }}</span>
            </button>
        }
    </mat-menu>
</div>
