.mdc-list-item__primary-text {
    color: black !important; /*Material Override*/
}

.mdc-button {
    padding: 0px !important;
    min-width: auto !important;
}

// .lang-menu-wrapper {
//   margin: 0.5em;
// }

.lang-menu-dropdown {
    background-color: white;
}

.langmenu {
    // background: 0 0;
    border: none;
    cursor: pointer;
}

.lang-select-icon {
    width: 2rem;
    height: 2rem;
}

.lang-selection {
    position: relative;
    top: -8px;
}

.small-icons {
    width: 30px;
}

.lang-button {
    padding-top: 8px !important;
}
