/* Raleway */

/* Regular */
@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-Regular.woff2");
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: "EN_US_Font";
    src: url("./assets/fonts/EN_US/Raleway-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "EN_Font";
    src: url("./assets/fonts/EN/Raleway-Regular.woff2");
    font-display: swap;
}

// @font-face {
//     font-family: ET_Font;
//     src: url("./assets/fonts/ET/Anbassa.woff2");
//     font-display: swap;
// }

// @font-face {
//     font-family: ET_Font;
//     src: url("./assets/fonts/ET/Sur_Graphics_Regular.woff2");
//     font-display: swap;
// }

@font-face {
    font-family: "ET_Font_Doxa";
    src: url("./assets/fonts/ET/habesha_doxa.woff2");
    font-display: swap;
}

@font-face {
    font-family: "ET_Font";
    src: url("./assets/fonts/ET/NotoSansEthiopic.woff2");
    font-display: swap;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: var(--primary);
}
