@use '../../styles/screen.scss' as *;

* {
    // transition: all 1s ease;
    scroll-margin-top: 3rem;
}

.app-divider {
    background-color: var(--background2);

    path {
        fill: var(--background1);
    }
}

.graduation-hat {
    fill: var(--lightest);

    // transition: all 1s ease;
}

// .education-item,
// .conference-item {
//     margin-bottom: 48px;
//     position: relative;
// }

.education,
.conferences,
.education-conferences-wrapper {
    // background-color: #eee;

    position: relative;
}

.title.right {
    text-align: right;
}

.title.left {
    text-align: left;
}

.education-conferences-wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0 2%;
    transition: background-color 1s ease;
    background-color: var(--background1);
    justify-content: center;
    padding-bottom: 10%;
}

.education-title {
    margin: 7% 0%;
}

.education-svg {
    // position: absolute;
    // right: 0;
    // margin-top: 5%;
    width: 25rem;
}

.conferences-svg {
    position: absolute;
    margin-top: 280px;
    left: 0;
}

.add-right-margin {
    margin-right: -10%;
}

.add-left-margin {
    margin-left: -10%;
}

.education-content {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

.education-left {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.education-right {
    display: none;
}

@include screen-sm {
    .education-conferences-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@include screen-md {
    .education-item {
        border: 1px solid var(--lightest);
        border-radius: 0.5rem;
    }

    .education-conferences-wrapper {
        padding-bottom: 5%;
    }

    .education-left {
        gap: 2rem;
    }
}

@include screen-xl {
    .education-right {
        display: block;
    }
}
