@use '../../styles/screen.scss' as *;

:host * {
    transition: background-color 1s ease;
    transition: fill 1s ease;
}

.app-divider {
    background-color: var(--background2);

    path {
        fill: var(--background1);
    }
}

.graduation-hat {
    fill: var(--background2);
}

.education-item,
.conference-item {
    margin-bottom: 48px;
    position: relative;
    z-index: 10;
}

.education,
.conferences,
.education-conferences-wrapper {
    // background-color: #eee;

    position: relative;
}

.title.right {
    text-align: right;
}

.title.left {
    text-align: left;
}

.education-conferences-wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0 5%;
    transition: background-color 1s ease;
    background-color: var(--background1);
}

.education-title {
    margin: 7% 0%;
}

.education-svg {
    position: absolute;
    right: 0;
    z-index: 5;
    margin-top: 5%;
}

.conferences-svg {
    position: absolute;
    margin-top: 280px;
    left: 0;
    z-index: 5;
}

.add-right-margin {
    margin-right: -10%;
}

.add-left-margin {
    margin-left: -10%;
}

@include screen-sm {
    .education-conferences-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
}
