@use '../../../styles//screen.scss' as *;

.tech {
    display: inline-block;
    color: var(--muted);
    border: 1px solid var(--lightest);
    font-size: 0.5rem;

    // margin: 0.25rem;
    margin: 0.1rem;

    // background: var(--lightest);

    // padding-left: 1rem;
    border-radius: 3rem;

    // padding-right: 1rem;
    // padding: 0.35rem 0.65rem;
    padding: 0.25rem 0.45rem;
    cursor: default;
}

@include screen-md {
    .tech {
        border: 1px solid var(--lighter);
        font-size: 0.85rem;
        margin: 0.25rem;
        padding: 0.35rem 0.65rem;
    }
}
