.tech {
    display: inline-block;
    color: var(--muted);
    border: 1px solid var(--lighter);
    font-size: 0.85rem;
    margin: 0.25rem;

    // background: var(--lightest);

    // padding-left: 1rem;
    border-radius: 3rem;

    // padding-right: 1rem;
    padding: 0.35rem 0.65rem;
    cursor: default;
}
