.tech {
    display: inline-block;
    color: var(--muted);
    border: 1px solid var(--muted);
    font-size: 1rem;
    margin: 0.25rem;
    padding-left: 1rem;
    border-radius: 3rem;
    padding-right: 1rem;
    cursor: default;
}
