@use '../../styles/screen.scss' as *;

#technologies {
    width: 100%;
    padding: 5% 0;
}

.tech-list {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.expertin {
    display: flex;
    flex-flow: row wrap;
    padding: 5% 2%;
    width: 100%;
    scroll-margin-top: 3rem;
}

.title-expertin {
    align-self: center;
}

.expertin-svg {
    flex: 1 1 30%;
    display: none;
    flex-direction: column;
    gap: 3rem;
    margin-top: 32px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 1s ease;
}

.expert-in-content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
}

.expert-in-content button {
    margin-top: 24px;
}

.technology-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 11%));
    gap: 0;
}

@include screen-3xs {
    .technology-list {
        gap: 2rem 0.25rem;
    }
}

@include screen-sm {
    #technologies {
        padding: 0;
    }
}

@include screen-lg {
    .expertin-svg {
        display: flex;
        align-items: center;
    }

    .expert-in-content {
        flex: 1 1 70%;
    }
}

@include screen-xl {
    .expertin {
        padding-right: 10%;
    }
}
